<style type="text/css">
.node {
  /* font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 400;
  font-size: 13px;
  fill: #888;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
}

.node:hover {
  fill: #000;
}

.node:hover,
.node--source,
.node--target {
  fill: #000;
  font-weight: 700;
  opacity: 1;
}

.link {
  stroke: steelblue;
  stroke-opacity: .2;
  fill: none;
  pointer-events: none;
  opacity: 0.2;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
  opacity: 1;
}

/* Represents the "Depends" in the Red/Green Color Scheme  */
.rg-node--target {
  fill: #d62728;
}
.rg-link--source {
  stroke: #d62728;
  color: #d62728;
}
/* Represents the "Dependents" in the Red/Green Color Scheme  */
.rg-node--source {
  fill: #2ca02c;
}
.rg-link--target {
  stroke: #2ca02c;
  color: #2ca02c;
}
/* Represents the "Depends" in the Orange/Blue (Colorblind) Color Scheme  */
.cb-node--target {
  fill: #ff9933;
}
.cb-link--source {
  stroke: #ff9933;
  color: #ff9933;
}
/* Represents the "Dependents" in the Orange/Blue (Colorblind) Color Scheme  */
.cb-node--source {
  fill: #5233FF;
}
.cb-link--target {
  stroke: #5233FF;
  color: #5233FF;
}
/* Represents the "Both" entries in the either color scheme  */
.node--target.node--source {
  fill: #A02CA0;
}

.link--target.link--source {
  stroke: #A02CA0;
  color: #A02CA0;
}

.groupArc {
  fill: #1f77b4;
  fill-opacity: 0.5;
}

.groupArc:hover {
  fill-opacity: 0.9;
}
</style>
