body {
  background: #efefef;
  overflow: auto;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 28px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
  font-size: 22px;
}

pre {
  font-size: 18px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  color: #999;
}

.disclaimer {
  font-size: 11px;
}

.underline {
  text-decoration: underline;
}
/* Tooltip */

div.tooltip {
    position: absolute;			/* reference for measurement */
    text-align: left;
    pointer-events: none;			/* 'none' tells the mouse to ignore the rectangle */
    background: #E0E0E0;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
    z-index: 10000;
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 12px;
    width: 7px;
    height: 13px;
    background: url("images/tail_white.png") 50% 0%;
}

div.toolTipBody {
    position:absolute;
    height:100px;
    width:230px;
}

#toolTip .header {
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color:#3300FF;
}

div.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

div.header1{
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
    color:black;
}

div.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    padding-bottom:10px;
}

td.ellipsis {
  display: block;
	text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
}

#title {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
