    <style type="text/css">
      .node circle {
        cursor: pointer;
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .node text {
        font-size: 11px;
        cursor: hand;
      }

      .legend circle {
        fill-opacity: 1;
      }

      .legend text {
        font-size: 15px;
        font-style: oblique;
        cursor: hand;
        cursor: pointer;
      }

      .OSEHRA {
        fill: #FF0000;
      }

      .DSS {
        fill: #080;
      }

      .VA {
        fill: #3300CC;
      }

      .Medsphere {
        fill: #FF00FF;
      }

      .Oroville {
        fill: #660000;
      }

      path.link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
      }

      path.link.target {
        stroke-width : 2px;
        stroke : #ff99aa;
      }
      #dependencies, #interface A:hover { text-decoration: none; background-color: #f2f2ff }
      #dependencies, #interface A:link { text-decoration: underline;}
    </style>
